<div class="clear"></div>

<!--Content-->

<div class="content" id="ajax-content">
    <div style="background:url(../../Images/img/portfolio/SW-1.jpg)" data-stellar-background-ratio=".5"></div>

    <div class="text-intro">

        <h1 style="color: #87C0D2; font-family:'madina_script-webfont'; text-transform:none">Weddings</h1>


        <div class="one-column">
            <p>Branding, Website</p>
        </div>


        <div class="two-column">
            <p>Pixel Design is startup company. PD specializes in creating logos and branding. They have own stationery printed for clients.The logo has been created in combination of two letters P + D. It was created about 10 logos. Finally, we chose one of them by the end of the refinement. For the logo was created brandbook and complete visual identity.<br /><br />Additionally I create simple landing page intro website. On the website is videos & images slider. Moreover is content of the services and contact. The plan is to create an online store. More on website soon...</p>
        </div>

        <div class="clear"></div>

        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

        <img src="~/Images/img/portfolio/251.jpg" width="100%"><br /><br /><br /><br />
        <img src="~/Images/img/portfolio/038.jpg" width="100%"><br /><br /><br /><br />
        <img src="~/Images/img/portfolio/098.jpg" width="100%"><br /><br /><br /><br />
        <img src="~/Images/img/portfolio/10520546_852085388158978_830548019236687064_o.jpg" width="100%"><br /><br /><br /><br />
        <img src="~/Images/img/portfolio/10537194_848281111872739_4407694650112536083_o.jpg" width="100%"><br /><br /><br /><br />
        <img src="~/Images/img/portfolio/0071.jpg" width="100%">


        <div class="prev-next">

            <div class="prev-button"><a class="ajax-link" href="single-fullscreen.html">Previous work</a></div>
            <div class="next-button"><a class="ajax-link" href="projects.html">Next work</a></div>

        </div>
    </div>

</div>

<div id="ajax-sidebar"></div>

<script>
    $('#button, #buttons').on('click', function() {
      $( ".opacity-nav" ).fadeToggle( "slow", "linear" );
    // Animation complete.
    });
</script>