
@{
    ViewBag.Title = "Landing";
}

    <div class="section">
        <section>
            <div class="parallax-bg" data-stellar-background-ratio=".5"></div>
        </section>
        <section style="height:400px;">
           
                <h1 style="font-family:'madina_script-webfont'; color:black; text-align:center; position:relative">Love KC Photography</h1>
          
        </section>
        <section data-stellar-background-ratio="6">
            <div class="parallax-bg" data-stellar-background-ratio=".5"></div>
        </section>
        <div data-stellar-background-ratio=".5" style="font-family:'madina_script-webfont'; color:white">Hi Everyone</div>
    </div>
   


