@Styles.Render("~/Content/css")
<div class="row tile_count">
    <div class="animated flipInY col-md-3 col-sm-6 col-xs-6 tile_stats_count">
        <div class="padding">
            <span class="glyphicon glyphicon-star"></span>
            <h2>Quarter 1</h2>
            <p>
                Total
            </p>
            <h3>$@ViewBag.Q1</h3>
            <br />
        </div>


        </div>
    <div class="animated flipInY col-md-3 col-sm-6 col-xs-6 tile_stats_count">
        <div class="padding">
            <span class="glyphicon glyphicon-star"></span>
            <h2>Quarter 2</h2>
            <p>Total</p>
            <h3>$@ViewBag.Q2</h3>
            <br />
        </div>
        

        
    </div>
    <div class="animated flipInY col-md-3 col-sm-6 col-xs-6 tile_stats_count">
        <div class="padding disabled">
            <span class="glyphicon glyphicon-star-empty"></span>
            <h2>Quarter 3</h2>
            <p>Total</p>
            <h3>$@ViewBag.Q3</h3>
            <br />
        </div>


        </div>
    <div class="animated flipInY col-md-3 col-sm-6 col-xs-6 tile_stats_count">
        <div class="padding disabled">
            <span class="glyphicon glyphicon-star-empty"></span>
            <h2>Quarter 4</h2>
            <p>Total</p>
            <h3>$@ViewBag.Q4</h3>
            <br />
        </div>
    </div>
</div>