body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.row{
    margin-left:0;
    margin-right:0;
}

.shadow{
    box-shadow: 0 25px 50px 15px black;
}

.headerThreeColumn{
    padding:20px 30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

    * {
        margin: 0;
        padding: 0;
    }

    .content {
        height: 1500px;
        background-color: #333;
    }

ul{
    list-style:none;
}

#mainHeader{
    text-shadow: 2px 2px 2px #596E75;
}
.parallax-bg {
        padding: 300px 0;
        
        background-repeat:no-repeat;
        background-attachment: fixed;
        background:url('../../Images/img/portfolio/0251.jpg') no-repeat fixed; 
        background-size:cover;
        /*webkit-transition: all 0.2s ease;*/
        -moz-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

.btn-primary{
    background:red;
}

.parallax-bg h1 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 70px;
    font-family:'madina_script-webfont'; 
    text-align:center; 
    text-transform:none; 
    color: #87C0D2; font-size:9em
}

#ctaContainer{
    margin-top:50px;
}

.transparent{
    background:rgba(0, 0, 0, 0.5);
    padding:10px;
    border-radius: 5px;
    color: white;
}

.callToActionSection{padding:10% 15%;}
#callOutOne{ background: url('../../Images/img/portfolio/007.jpg') no-repeat center; background-size:cover;}
#callOutTwo{ background: url('../../Images/img/portfolio/002.jpg') no-repeat; background-position: center; background-size:cover;}
#callOutThree{ background: url('../../Images/img/portfolio/008.jpg') no-repeat; background-position: center;  background-size:cover;}


#myChart{
    display: block;
        padding: 0;
        margin: 0 auto;
}

.animated{
    text-align:center;
}

#quarterlyRow{padding:20px 0;}
#graphRow{background:#F7F7F7; padding:30px 20px;}
.padding{
    padding:20px;
    background:#EAEAEA;
    border-radius:3px;
    border:1px solid teal;
}

.padding h2{
    font-size:20px;
    color:teal;
}

.padding h3{
    font-size:40px;
}

.glyphicon-star-empty{
    color:#CECECE;
    font-size:20px;
}

.glyphicon-star{
    color:goldenrod;
    font-size:20px;
}

.padding.disabled{
    background: #F7F7F7;
    border: 0;
}

.padding.disabled h2, .padding.disabled h3, .padding.disabled p{
    color:#CECECE;
}